
<!DOCTYPE HTML>
<html>
<head>
    <title>Visual Recommender System</title>
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    
    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' src="../static/js/jquery-1.11.1.min.js"></script>
    
    <!-- Custom Theme files -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--//theme-style-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    <script type="application/x-javascript"> 
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); 
        
        function hideURLbar(){ 
            window.scrollTo(0,1); 
        } 
    </script>
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <!-- start menu -->
    <link href="../static/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../static/js/megamenu.js"></script>
    <script>
        $(document).ready(function(){$(".megamenu").megamenu();});
    </script>
    <script src="../static/js/menu_jquery.js"></script>
    
</head>
<body>
    
<!-- header_top -->    
<div class="top_bg">
	<div class="container">
		<div class="header_top">
			<div class="top_right">
				<ul>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
			<div class="top_left">
				<h2><span></span> Call us : 09088467250</h2>
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- header-->

<div class="header_bg">
<div class="container">
	<div class="header">
	<div class="head-t">
		<div class="logo">
            <center><h1>Visual Recommender</h1></center>
		</div>
        
		<!-- start header_right -->
		<div class="header_right">
        <br>
<!-- 		<div class="search">
		    <form>
		    	<input type="text" value="" placeholder="search...">
				<input type="submit" value="">
			</form>
		</div> -->
		<div class="clearfix"> </div>
		</div>
		<!--div class="clearfix"> </div-->
	</div>
        
        <!-- start header menu -->
		<ul class="megamenu skyblue">
			<li class="active grid"><a class="color1" href="/">Home</a></li>
			<li class="grid"><a class="color2" id="tshirts" href="/cat?id=1">T-SHIRT</a></li>
			<li><a class="color4" id="jeans" href="/cat?id=2">JEANS</a></li>				
            <li><a class="color5" id="sweat_shirts" href="/cat?id=3">SWEAT-SHIRT</a></li>
            <li><a class="color6" id="shoes" href="/cat?id=4">SHOES</a></li>
            <li><a class="color7" id="googles" href="/cat?id=5">GOGGLES</a></li>
            <li><a class="color8" id="ties" href="/cat?id=6">TIES</a></li>
            <li><a class="color9" id="watches" href="/cat?id=7">WATCHES</a></li>
            <li><a class="color10" id="shirts" href="/cat?id=8">SHIRTS</a></li>
		 </ul>  
	</div>
</div>   <!-- ENd of Container -->
</div>
		
<h3 id="heading" style="display:none;">{{ name }}</h3>

<!-- content -->
<div class="container">
<div class="women_main">
	<!-- start content -->
			<div class="row single">
				<div class="col-md-2">
                    <br>
                    <img src="{{ list[0] }}" class="img-responsive " alt=""/>
                    <br>
                    <!-- <div class="radio">
					  	<label><input type="radio" name="optradio" value="r">RED</label>
					</div>
					<div class="radio">
					  	<label><input type="radio" name="optradio" value="b">BLUE</label>
					</div>
					<div class="radio">
					  	<label><input type="radio" name="optradio" value="g">GREEN</label>
					</div>
					<div class="radio">
					  	<label><input type="radio" checked="checked" name="optradio" value="a">ALL</label>
					</div> -->
                </div>
                
                <div class="col-md-10 det">  
				<div class="single-bottom2">
					<h6>Related Products</h6>
						<div class="product">
						   <div class="product-desc">
				               <div class="product-img">
		                           <a href="/api?id={{ seq[1] }}&dirid={{ did[0] }}"><img src="{{ list[1] }}" class="img-responsive " alt=""/></a>
		                       </div>
                               
                               <div class="product-img">
		                           <a href="/api?id={{ seq[2] }}&dirid={{ did[1] }}"><img src="{{ list[2] }}" class="img-responsive " alt=""/></a>
		                       </div>
                               
                               <div class="product-img">
		                           <a href="/api?id={{ seq[3] }}&dirid={{ did[2] }}"><img src="{{ list[3] }}" class="img-responsive " alt=""/></a>
		                       </div>
                               
                               <div class="product-img">
		                           <a href="/api?id={{ seq[4] }}&dirid={{ did[3] }}"><img src="{{ list[4] }}" class="img-responsive " alt=""/></a>
		                       </div>
                               
                               <div class="product-img">
		                           <a href="/api?id={{ seq[5] }}&dirid={{ did[4] }}"><img src="{{ list[5] }}" class="img-responsive " alt=""/></a>
		                       </div>
		                       <div class="product-img">
		                           <a href="/api?id={{ seq[6] }}&dirid={{ did[5] }}"><img src="{{ list[6] }}" class="img-responsive " alt=""/></a>
		                       </div>
					       </div>  
				 		   <div class="clearfix"></div>
				        </div>
                    	<h6 style="margin-top:1em;">Complimentary Products</h6>
                        <div class="product">
						   <div class="product-desc">
								<div class="product-img">
		                           <a href="/api2?id={{ seq[7] }}&dirid={{ did[6] }}"><img src="{{ list[7] }}" class="img-responsive " alt=""/></a>
		                       </div>
                               <div class="product-img">
		                           <a href="/api2?id={{ seq[8] }}&dirid={{ did[7] }}"><img src="{{ list[8] }}" class="img-responsive " alt=""/></a>
		                       </div>
                               <div class="product-img">
		                           <a href="/api2?id={{ seq[9] }}&dirid={{ did[8] }}"><img src="{{ list[9] }}" class="img-responsive " alt=""/></a>
		                       </div>
                               <div class="product-img">
		                           <a href="/api2?id={{ seq[10] }}&dirid={{ did[9] }}"><img src="{{ list[10] }}" class="img-responsive " alt=""/></a>
		                       </div>
                               <div class="product-img">
		                           <a href="/api2?id={{ seq[11] }}&dirid={{ did[10] }}"><img src="{{ list[11] }}" class="img-responsive " alt=""/></a>
		                       </div>
		                       <div class="product-img">
		                           <a href="/api2?id={{ seq[12] }}&dirid={{ did[11] }}"><img src="{{ list[12] }}" class="img-responsive " alt=""/></a>
		                       </div>
							   <div class="clearfix"></div>
					       </div>
                           <div class="clearfix"></div>
				        </div>
		   	    </div>
	           </div>	
		       
                <div class="clearfix"></div>		
	       </div>
	<!-- end content -->
</div>
</div>

<div class="footer">
	<div class="containe text-center">	
			<p>Copyrights © Visual Recommender System. All rights reserved </p>
	</div>
</div>

</body>
</html>
<script>
$(document).ready(function(){
    $('#'+$('#heading').html()).css('background-color', '#2e94ab' );
})
</script>