<!DOCTYPE html>
<html>
<head>
    <title>Visual Recommender</title>
    <link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    
    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' src="../static/js/jquery-1.11.1.min.js"></script>
    
    <!-- Custom Theme files -->
    <link href="../static/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--//theme-style-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    <script type="application/x-javascript"> 
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); 
        
        function hideURLbar(){ 
            window.scrollTo(0,1); 
        } 
    </script>
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <!-- start menu -->
    <link href="../static/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="../static/js/megamenu.js"></script>
    <script>
        $(document).ready(function(){$(".megamenu").megamenu();});
    </script>
    <script src="../static/js/menu_jquery.js"></script>
</head>
    
<body>
    
<!-- header_top -->
<div class="top_bg">
	<div class="container">
		<div class="header_top">
			<div class="top_right">
				<ul>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
			<div class="top_left">
				<h2><span></span> Call us : 09088467250</h2>
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- header -->
    
<div class="header_bg">
<div class="container">
	<div class="header">
	<div class="head-t">
		<div class="logo">
            <center><h1>Visual Recommender System</h1><center>
		</div>
        
		<!-- start header_right -->
		<div class="header_right">
        <br>
<!-- 		<div class="search">
		    <form>
		    	<input type="text" value="" placeholder="search...">
				<input type="submit" value="">
			</form>
		</div> -->
		<div class="clearfix"> </div>
		</div>
		<!--div class="clearfix"> </div-->
	</div>
        
		<!-- start header menu -->
		<ul class="megamenu skyblue">
			<li class="active grid"><a class="color1" href="/">Home</a></li>
			<li class="grid"><a class="color2" href="/cat?id=1">T-SHIRT</a></li>
			<li><a class="color4" id='4' href="/cat?id=2">JEANS</a></li>				
            <li><a class="color5" id='5' href="/cat?id=3">SWEAT-SHIRT</a></li>
            <li><a class="color6" id='6' href="/cat?id=4">SHOES</a></li>
            <li><a class="color7" id='7' href="/cat?id=5">GOGGLES</a></li>
            <li><a class="color8" id='8' href="/cat?id=6">TIES</a></li>
            <li><a class="color9" id='9' href="/cat?id=7">WATCHES</a></li>
            <li><a class="color10" id="10" href="/cat?id=8">SHIRTS</a></li>
		 </ul> 
	</div>
</div>   <!-- ENd of Container -->
</div>
<br>    
<div class="arriv">
	<div class="container">
		<div class="arriv-las">
			<div class="col-md-4 arriv-left2">
				<img src="../static/images/5.jpg" class="img-responsive" style="width:75%;" alt="">
				<div class="arriv-info2">
					<a href="/cat?id=5"><h3>GOGGLES<i class="ars"></i></h3></a>
				</div>
			</div>
			<div class="col-md-4 arriv-middle">
				<img src="../static/images/6.jpg" class="img-responsive" style="width:75%;" alt="">
				<div class="arriv-info3">
					<h3>T-SHIRT</h3>
					<div class="crt-btn">
						<a href="/cat?id=1">SHOP NOW</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 arriv-right2">
				<img src="../static/images/7.jpg" class="img-responsive" style="width:75%;" alt="">
				<div class="arriv-info2">
					<a href="/cat?id=7"><h3>Watches<i class="ars"></i></h3></a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
        
        <div class="arriv-bottm">
			<div class="col-md-8 arriv-left1">
				<img src="../static/images/3.jpg" class="img-responsive" style="width:75%;" alt="">
				<div class="arriv-info1">
					<h3>SWEAT-SHIRT</h3>
					<div class="crt-btn">
						<a href="/cat?id=3">SHOP NOW</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 arriv-right1">
				<img src="../static/images/4.jpg" class="img-responsive" style="width:75%;" alt="">
				<div class="arriv-info2">
					<a href="/cat?id=4"><h3>SHOES<i class="ars"></i></h3></a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
    
<!-- div class="special">
	<div class="container">
		<h3>Special</h3>
		<div class="specia-top">
			<ul class="grid_2">
		<li>
				<a href="details.html"><img src="../static/images/d1.jpg" class="img-responsive" style="width:95%;" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5>Blue Sweat-Shirt</h5>
				</div>
		</li>
		<li>
				<a href="details.html"><img src="../static/images/9.jpg" class="img-responsive" style="width:95%;" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5>Wood Watch</h5>
			</div>
		</li>
		<li>
				<a href="details.html"><img src="../static/images/10.jpg" class="img-responsive" style="width:95%;" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5>X-Goggles</h5>
			</div>
		</li>
		<li>
				<a href="details.html"><img src="../static/images/11.jpg" class="img-responsive" style="width:95%;" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5>Maroon T-Shirt</h5>
				</div>
		</li>
	</ul>
		</div>
	</div>
</div -->

<div class="footer">
	<div class="containe text-center">	
			<p>Copyrights © Visual Recommender System. All rights reserved </p>
	</div>
</div>
</body>
</html>
